<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>

<body class="container">

    <main>
            <section class="todoapp">
            <header class="header">
                <form id="writeForm">
                    <h1>todos</h1>
                    <input id="task" class="new-todo" placeholder="What needs to be done?" autofocus>
                </form>
			</header>
            <section class="main">
				<input class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
                <div id="result">
                    <ul id="list" class="todo-list">
                    

                    </ul>
                    </div>
				<ul class="todo-list"></ul>
			</section>

            </section>
        <div class="jumbotron">
        <p><b>Todo App :  </b>Your list....</p>
            <div id="result">
            <ul id="list">

            </ul>
            </div>
        </div>

       <!-- <form id="writeForm">
        <h4>Add a task<h4>
          <div class="row">
           <div class="col-lg-6">
              <div class="input-group">
                <input id="task" type="text" class="form-control" placeholder="Enter new task ..." name="data">
                <span class="input-group-btn">
                  <button id = "writeButton" class="btn btn-default" type="submit">Go!</button>
                </span>
              </div>
            </div>
          </div>
       </form>
        <br>
        <br> -->       

    </main>
    
</body>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>

<script src="script.js">


</script>
</html>