<html>

<head>
  <title> TODO list </title>
  <!--<link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/base.css">-->
  <link rel="stylesheet" type="text/css" href="css/external.css">
</head>

<body>
  <h1>todos</h1>
  <div id="header">
    <input id="new-todo" type="text" name="data" placeholder="What needs to be done?">
    <!--<button id="write_button">ADD</button>-->
  </div>
  <div id="result">
  </div>
   
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="todoScript.js"></script>
</body>

</html>