<html>

<head>
  <title> TODO list </title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!--<link rel="stylesheet" type="text/css" href="css/myStyle.css">-->
  
</head>

<body>
  </div> 

      <section class="todoapp">
          <header class="header">
            <h1>todos</h1>
            <input id="id-new-todo" class="new-todo" placeholder="What needs to be done?" autofocus>
          </header>
          <section class="main" style="display: block;">
            <input class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="id-todo-list" class="todo-list">
            
            </ul>
          </section>
          <footer class="footer">
            <span class="todo-count"></span>
            <ul class="filters">
              <li>
                <a id="all" href="#/" class="selected">All</a>
              </li>
              <li>
                <a id="active" href="#/active">Active</a>
              </li>
              <li>
                <a id="completed" href="#/completed">Completed</a>
              </li>
            </ul>
            <button id="clear-completed-id" class="clear-completed">Clear completed</button>
          </footer>
        </section>
        <footer class="info">
          <p>Double-click to edit a todo</p>
          <p>Strong click on \/ for checking all</p>
        </footer>

   
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
   
    <script src="apiCalls.js"></script>
     <script src="todoScript.js"></script>
</body>

</html>